query:
{% for query in promql_queries %}
- name: {{query.name}}
  expr: {{query.expr}}
  start_time: {{start_time}}
  end_time: {{end_time}}
  interval: {{query.interval}}
  step: {{query.step}}
{% endfor %}